<nav-bar></nav-bar>

<intro-header [backgroundImgUrl]="backgroundImgUrl" [headerMessage]="headerMessage" [subheaderMessage]="subheaderMessage"></intro-header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Data Engineer by day, Batman, I mean workout enthuiast by night.</p>
            <p>
               In a world where facts no longer seem to matter as much, I strive to reveal the importance and share 
               it through data. We have so much data at our disposal, so somebody has to do it. 
            </p>
            <p>Two wheels are my favorite past time. From bicycles to motorcycles, I love it all. Nothing like riding 
                through the city with the on a Spring
            </p>
            <p> NYC living</p>
            <p> Go Bearcats. Baruch College Alum</p>
        </div>
    </div>
</div>

<footer-section></footer-section>