
<!--<header class="intro-header" style="background-image: url(app/assets/images/boxes-mail.jpg)">-->
<header class="intro-header" [style.background-image]="'url(' + backgroundImgUrl + ')'">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>{{ headerMessage }}</h1>
                    <hr class="small">
                    <span class="subheading">{{ subheaderMessage }}</span>
                </div>
            </div>
        </div>
    </div>
</header>